* {
    margin: 0;
    padding: 0;
}


/* body {
    background-image: url(./imgz/29_digimon.jpg);
    background-position: center;
    background-size: auto;
} */



.grid-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    width: 50vw;
}


#background-img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    border-radius: 0px;
}
#main-section {
    position: relative;
    height: 100vh;
    width: 50vw;
    background-color: white;
    left: 0px;
    border-radius: 0;
    overflow: scroll;
}


#one-card-review{
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: black;
}
.hidden-stage{
    display: none;
}
.card {
    position: absolute;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    z-index: 10002;
    /* background-color: white; */
    background-color: brown;
    box-shadow: 5px 10px 8px #888888;
    animation-duration: 0.5s;
    animation-name: popIn;
}
 @keyframes popIn {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
} 

.card-position {
    /* position: absolute; */
    right: 25%;  
    top: 30%;
    left: 15vw;
}

.hidden-card {
    display: none;
}


.smaller-card {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 10px;
}
.smaller-card:hover {
    transform: scale(1.1);
}
.monster-img {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 70%;
    height: 70%;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888 inset;
    
}


#search-bar {
    position: absolute;
    z-index: 1000;
    border: none;

    left: 60vw;
    top: 10vh;
}

input {
    width: 250px;
    padding: 10px;
    border-radius: 25px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255,197,0,1) 0%, rgba(212,134,32,1) 46%, rgba(159,112,58,0.8099614845938375) 100%);
    color: white;
    cursor: pointer;
    outline: none;
}

h2 {
    border-radius: 0 0 25px 25px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    background: linear-gradient(0deg, rgba(255,197,0,1) 0%, rgba(212,134,32,1) 46%, rgba(159,112,58,0.8099614845938375) 100%);
    color: brown;
    width: 100%;
    height: 20%;
    font-size: 1.8rem;
    z-index: 10001;
}
h3 {

    position: absolute;
    left: 0px;
   
    writing-mode: vertical-rl; 
    background: linear-gradient(169deg, rgba(95,2,22,1) 0%, rgba(215,138,29,1) 100%, rgba(95,2,22,1) 100%);
    color: orange;
    height: 100%;
    border-radius: 25px 0 0 25px;
}


audio {
    position: absolute;
    z-index: 10001;
}